# Envirionment
.env
config.json
data

# Python
__pycache__
.cache
*.egg-info
*~
.venv

# Vim
*.sw[m-p]

# db
*.db
*.db-journal

# VSCode
.VSCode
.vsCode

# Idea
.idea

# Generated performance charts
performance

# Generated when adding editable dependencies in requirements.txt (-e)
src

# MacOS file
.DS_Store

*.pyc
*.pt

dist/
build/

OpenAdapt.spec
build_scripts/OpenAdapt.iss

omnimcp/omnimcp.egg-info
**/__pycache__
omnimcp/.env
