alembic==1.8.1
ascii_magic==2.3.0
black==23.3.0
atomacos @ git+https://github.com/abrichr/atomacos.git#egg=atomacos ; sys_platform == 'darwin'
bokeh==2.4.3
clipboard==0.0.4
deepdiff[optimize]==6.3.0
dictalchemy3==1.0.0
fire==0.4.0
fuzzywuzzy==0.18.0
ipdb==0.13.11
loguru==0.6.0
matplotlib==3.6.2
moviepy==1.0.3
mss==6.1.0
namedpipe==0.1.0
nativemessaging==1.0.1
nicegui==1.2.16
nltk==3.8.1
openai==0.27.5
pandas==2.0.0
pygetwindow==0.0.9; sys_platform == 'win32'
pyinstaller
presidio_analyzer==2.2.32
presidio_anonymizer==2.2.32
presidio_image_redactor==0.0.46
pympler==1.0.1
python-dotenv==1.0.0
python-Levenshtein==0.21.1
pywin32==306; sys_platform == 'win32'
pytesseract==0.3.7
-e git+https://github.com/abrichr/pynput.git#egg=pynput
pytest==7.1.3
rapidocr-onnxruntime==1.2.3
scikit-learn==1.2.2
scipy==1.9.3
setuptools-lint
sphinx
sqlalchemy==1.4.43
sumy==0.11.0
tiktoken==0.4.0
torch==2.0.0
tqdm==4.64.0
transformers==4.29.2