reference_window_dict={{ reference_window_dict }}
reference_action_dicts={{ reference_action_dicts }}
active_window_dict={{ active_window_dict }}
Provide valid Python3 code containing the action dicts by completing the following, and nothing else:
active_action_dicts=