We are currently in the process of replaying a recording that demonstrates of a process.

In the recording, the action was:
<reference_action_dicts>
{{reference_action_dicts}}
</reference_action_dicts>

The active window_state was:
<reference_window_dict>
{{reference_window_dict}}
</reference_window_dict>

The current window state is:
<active_window_dict>
{{active_window_dict}}
</active_window_dict>

The first image is a screenshot that was captured immediately before the reference_action occurred.
The second image is a screenshot of the current state of the system.
Please provide a corresponding action that should be played now (according to the current
state of the system) that will accomplish the task described in the <task_description>
and modulated by the <instructions>.

"Provide valid json containing the action dicts"
" by completing the following,"
" and nothing else:\n"
<active_window_dict>
