We are currently in the process of replaying a recording that demonstrates of a process.

In the recording, the action was:
```json
{{reference_action_jsons}}
```

The active window_state was:
```json
{{reference_window_json}}
```

The current window state is:
```json
{{active_window_json}}
```

The first image is a screenshot that was captured immediately before the reference_action occurred.
The second image is a screenshot of the current state of the system.
Please provide a corresponding action that should be played now (according to the current
state of the system) that will accomplish the task described in the <task_description>
and modulated by the <instructions>.

Provide valid JSON containing the action, and nothing else:
