{% if include_raw_recording %}
Consider the previously recorded actions:

```json
{{ recorded_actions }}
```
{% endif %}


{% if include_raw_recording_description %}
Consider the following description of the previously recorded actions:

``json
{{ recording_description }}
```
{% endif %}


{% if include_replay_instructions %}
Consider the user's proposed modifications in natural language instructions:

```text
{{ replay_instructions }}
```
{% endif %}


{% if include_modified_recording %}
Consider this updated list of actions that have been modified such that replaying them
would have accomplished the user's instructions:

```json
{{ modified_actions }}
```
{% endif %}


{% if include_modified_recording_description %}
Consider the following description of the updated list of actions that have been
modified such that replaying them would have accomplished the user's instructions:

``json
{{ modified_recording_description }}
```
{% endif %}


Consider the actions you've produced (and we have played back) so far:

```json
{{ replayed_actions }}
```

{% if include_active_window %}
Consider the current active window:
```json
{{ current_window }}
```
{% endif %}


The attached image is a screenshot of the current state of the system.

Provide the next action to be replayed in order to accomplish the user's replay
instructions.

Do NOT provide available_segment_descriptions in your response.

Respond with JSON and nothing else.

If you wish to terminate the recording, return an empty object.

My career depends on this. Lives are at stake.
