Describe this process in natural language.
Your audience is someone learning to perform a task that consists of multiple such
actions.
{% for action_description in action_descriptions %}
{{ loop.index }}:
```text
{{ action_description }}
```
{% endfor %}
Your response may be fed into a Retrieval Augmented Generation system, which will be
used to answer user prompts about how to perform tasks in desktop apps.
Include as much detail as possible that is relevant for this purpose.
Include numbered steps. Respond as if you are addressing the user directly.
