Describe this action in natural language in as much detail as possible.
Your audience is someone learning to perform a task that consists of multiple such
actions.
```json
{{ action }}
```
The active window was:
```json
{{ window }}
```
Your response may be fed into a Retrieval Augmented Generation system, which will be
used to answer user prompts about how to perform tasks in desktop apps.
Include as much detail as possible that is relevant for this purpose.
