Describe this process in natural language.
{% for action_description in action_descriptions %}
{{ loop.index }}:
```text
{{ action_description }}
```
{% endfor %}
Your response will be fed into a Retrieval Augmented Generation system, which will be
used to answer user prompts about how to perform tasks in desktop apps.
Include as much detail as possible that is relevant for this purpose.
